.mbl-nav {
    box-shadow: 0 0 10px #222831, 0 0 20px #222831, 0 0 40px #222831;
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(10, 10, 10, 0.75);

    a {
        border: 1px solid #12888f;
        width: 100%;
        justify-content: center;
    }

}

.opn-icn, .cls-icn {
    box-shadow: none;
    background: none;
    backdrop-filter: none;
    width: 2.5rem;
    fill: #00f0ff;

    &:is(:hover, :focus) {
        fill: #00ff99;
    }
}

body:has(header .active) main {
    z-index: -1;
    position: relative;
    opacity: .25;
}