.hero, .intro, .outro {
    position: relative;
    max-width: clamp(70vw, 85rem, 90vw);
    margin: 0 auto;
    _height: 100vh;
    padding: 2em;
}

.hero {
    padding: 0
}

.into, .outro {
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;

    h1, .fnt-1 {
        margin-bottom: 0;
    }
}
@media screen and (min-heigh: 900px) {
    .card, .cards {
        min-height: 250px !important;
    }

}

