:root{
    --buttons: #ff004d;
    --primary: #00f0ff; /* Cyan alt to test: #00e6e6 */
    --secondary: #00ff99;
    --text: #FFFFFF;
    --primary-alt: #ff004d;
    --black: #000000;
    --text-alt: #FFFFFF;
    --white: #FFFFFF;
    --dk-bg: #0a0a0a;
    --dk-bg-alt: #1a1a1a; /* Alt to consider #121212 */
    --glow: #222831;
}

.card {
    position: relative;

    .card-inner {
        position: relative;
        will-change: transform;
        height: 100%;
        padding: 2em;
        display: flex;
        gap: 4em;
        max-width: clamp(70vw, 85rem, 90vw);
        margin: 0 auto;

    }

    .card-content {
        width:75%
    }

    .card-img {
        width: 25%
    }

    img {
        object-fit: cover;
    }

    h1, .fnt-1 {
        margin-bottom: 2.5rem;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

.card .card-inner {
    background-color: var(--dk-bg);
    box-shadow: 0 0 10px #222831, 0 0 20px #222831, 0 0 40px #222831;
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(59, 59, 59, 0.3);

}


@media (max-width: 900px) {
    h1,.fnt-1 {
        margin-bottom: 4rem;
    }

    .card {
        height: auto;
        max-height: 50% !important;

        .card-img {
            display: block;
            width: 100%;
        }
        .card-inner {
            max-height: fit-content;
        }
        div {
            height: fit-content;
        }

        .card-content {
            width:100%
        }
    }

    .card, .cards {
        min-height: 100% !important;
    }
}